* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

header {
  max-width: 500px;
  margin: 0 auto;
}

.grid {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  min-height: 500px;
}

.cell {
  border: 5px solid yellow;
  background-color: lightblue;
  text-align: center;
  text-indent: -9999px;
}

footer {
  padding: 4rem 0;
  text-align: center;
}

.reset {
  text-decoration: none;
  color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}

.pieces {
  font-size: 3rem;
}